<h1>My Tasks</h1>
<ol>
  <% @tasks.each do |task| %>

    <li><%= link_to task.title, task_path(task) %> -<%= link_to 'delete', tasks_destroy_path(task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
     %></li>

  <% end %>
</ol>

<%= link_to 'Add a new task', tasks_new_path %>
